.heading{
  color : blue
}
ul{
  color: brown;
}

.card{
  border-radius: 30px;
  position: relative;
  padding: 25px 15px;
  background-color: burlywood;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  color: black;
}
.top{
  border-radius: 30px 30px 0 0;
  height: 100px;
  width: 100%;
  background-color: bisque;
  
  left : 0;
  display: flex;
}
.name{
  color: black;
  font-size: 2rem;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}
.card img{
  margin: 30px 20px 0 0;
}
.circle-img{
  border-radius: 50%;
  border: 6px solid white;
  width: 120px;
  height: 120px;
}
.botttom{
  margin-top: 20px;
}
.info{
  margin:20px 0;
  color: black;
}
